<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <style type="text/css">
        .num{
            font-size:14px;padding: 0px;
        position: absolute;
        bottom: 20px;}

        *{ padding: 0; margin: 0; } div{ padding: 4px 48px;} body{ background: #fff; font-family: "微软雅黑"; color: #333;font-size:24px} h1{ font-size: 100px; font-weight: normal; margin-bottom: 12px; } p{ line-height: 1.8em; font-size: 36px } a,a:hover{color:blue;}</style>
</head>
<body>
<div style="padding: 24px 48px;"> <h1>:)</h1><p>你好世界！ <b></b></p>

<div class="num">目前访问：{{num}} 次</div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script> 
<script src="..//Public/typeit.min.js"></script> 
<script> 
$("b").typeIt({
    whatToType: ["EasyPHP.", "E...yPHP！"],
    typeSpeed: 100,
    breakLines: false
});
</script> 
</body>
</html>